<?php

class Config {

    public static function getConfig() {
        return [
            'db\username' => '',
            'db\host' => '',
            'db\password' => '',
            'db\dbName' => ''
        ]; 
    }
}    
?>